header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: blueviolet;
    color: white;
    text-align: center;
    left: 0;
    top: 0;
}

div {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 30px;
    margin-top: 60px;
 
}
